body {
    background-color: beige;
}

h1 {
    color: blue;
    text-align: center;
    text-decoration-color: blue;
}

p {
    background-color: rgb(255, 149, 0);
    padding: 20px;
    font-weight: bold;
    border: 10px solid black;
}

.random {
    color: palegreen;
    background-color: black;
    border: 10px solid green;
    text-align: justify;
}

#fruit {
    background-color: rgb(232, 126, 232);
    color: rgb(60, 1, 60);
    border: purple solid 10px;
}